.month{
    background-color: #FEFEFE;
    width: 26px;
    border: solid 1px #444;
    transition-duration: 0.5s;
    border-radius: 2px;
    text-align: center;
}
.month, .year-label{
    cursor: pointer;
}
.year-label{
    margin-right: 6px !important;
}
.year li{
    height: 26px;
    line-height: 26px;
    margin-right: 5px;
    float: left;
}
.year{
    list-style: none;
    display: block;
    clear: left;
    padding-top: 0.5em;
}
.selected{
    background-color: #9d261d;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    border-color: #bd362f;
    color: #FFF;
}

